@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins';
}
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 200px;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.product-card {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #dcdbdb;
}

#products {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

select, input {
    border: 1px solid #c3c3c3;
    height: 40px;
    padding: 0 20px;
    border-radius: 6px;
}

.filter-wrap {
    display: flex;
    justify-content: space-between;
}

#filter {
    display: flex;
    align-items: center;
    gap: 1rem;
}